{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <div style="padding-top:10px">
            <center>
                <h1>
                    CHOOSE SPACE
                </h1>
            </center>
        </div>
        
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2><b>SPACES</b></h2>
          <p>
            <table>
                <tbody>
                    <tr style="border-bottom: 1px solid black;">
                        <td style="padding:10px 100px 10px 0px;">
                            <div> Grind Broadway </div>
                            <div>1412 Broadway, 22nd Fl<br>New York, NY 10018<br>(646) 558 - 6026</div>
                        </td>
                        <td>
                            <form action="/book?space=1" method="post">
                                <button> Book </button> 
                            </form>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid black;">
                        <td style="padding:10px 100px 10px 0px;">
                            <div> Grind Park </div>
                            <div>419 Park Avenue South, 2nd Fl<br>New York, NY 10016<br>(646) 558 - 3250</div>
                        </td>
                        <td>
                            <form action="/book?space=2" method="post">
                                <button> Book </button> 
                            </form>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid black;">
                        <td style="padding:10px 100px 10px 0px;">
                            <div> Grind LaSalle </div>
                            <div>2 N. LaSalle Street<br>Chicago, IL 60602<br>(312) 488 - 4887</div>
                        </td>
                        <td>
                            <form action="/book?space=3" method="post">
                                <button> Book </button> 
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
          </p>
        </div>
      </div>
    </div> 
</div>
{% endblock %}