{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <div style="padding-top:10px">
            <center>
                <h1>
                    GRIND SPACES
                </h1>
            </center>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <button onclick="$('#login-form').hide();$('#signup-form').show();"><h2><b>SIGN UP</b></h2></button>
            <button onclick="$('#signup-form').hide();$('#login-form').show();"><h2><b>LOG IN</b></h2></button>
            <form id="signup-form" class="navbar-form navbar-right" action="/users/signup" method="post" style="display:none;">
                SIGN UP
                <div class="form-group">
                    <input type="text" name="first_name" placeholder="First Name: John" class="form-control">
                    <input type="text" name="last_name" placeholder="Last Name: Keats" class="form-control">
                    <input type="email" name="email" placeholder="Email: john.keats@something.com" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign Up</button>
            </form>
            <form id="login-form" class="navbar-form navbar-right" action="/users/login" method="post" style="display:none;">
                LOG IN
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email: john.keats@something.com" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Log In</button>
            </form>
        </div>
      </div>
    </div> 
</div>
{% endblock %}