{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <div style="padding-top:10px">
            <center>
                <h1>
                    CHOOSE ROOM
                </h1>
            </center>
        </div>
        
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <h2><b>ROOMS</b></h2>
            {% if not rooms %}
                <p> No rooms listed </p>
            {% else %}
                <p>
                    <table>
                        <tbody>
                            {% for room in rooms %}
                                <tr style="border-bottom: 1px solid black;">
                                    <td style="padding:10px 100px 10px 0px;">
                                        <div> {{room.name}} </div>
                                        <div> Private Meeting Room for {{room.size}} </div>
                                        <div> Amenities: {{room.amenities}} </div>
                                        <div> Rate: ${{room.price}}/hour </div>
                                    </td>
                                    <td>
                                        <form action="/book?space={{space.space_id}}&room={{room.room_id}}" method="post">
                                            <button> CHOOSE </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </p>
            {% endif %}
        </div>
      </div>
    </div> 
</div>
{% endblock %}